@import "../../responsive.scss";

$primary-color: rgb(30, 136, 30);

@keyframes slideFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

nav {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 5rem;
  top: 0;
  position: sticky;
  z-index: 50;
  background-color: rgb(225, 225, 225);

  .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid $primary-color;
    height: 5rem;

    img {
      width: 65px;
      height: auto;
      animation: slideFadeIn 0.5s ease-in-out forwards;
    }

    .links {
      display: flex;
      gap: 2rem;

      .link {
        position: relative;
        font-size: 20px;
        opacity: 0;
        animation: slideFadeIn 0.5s ease-in-out forwards;
        animation-delay: 0.3s;
        transition: color 0.3s ease-in-out;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -5px;
          width: 0;
          height: 2px;
          background-color: $primary-color;
          transition: width 0.3s ease-in-out;
        }

        &:hover::after {
          width: 100%;
        }

        &:hover {
          color: $primary-color;
          cursor: pointer;
        }
      }

      @include sm {
        display: none;
      }
    }
  }
}
